.banner {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  margin-bottom: 32px;
}

.title {
  font-size: 16px;
  font-weight: 700;
}

.info {
  font-size: 12px;
  color: #6c7072;
}
