.search {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
}

.input {
  width: 100%;
  border: 3px solid #e7e7ff;
  padding: 8px 16px;
  background: #f2f4f5;
  font-size: 14px;
  color: #6b4eff;
  border-radius: 10px;
}
.input:active,
.input:focus {
  outline: none;
}

.dark .input {
  background-color: #2e323c;
  color: white;
  border: 3px solid #3c4250;
}

.light .input {
  border: 3px solid #e7e7ff;
  background: #f2f4f5;
  color: #6b4eff;
}
