.slider {
  display: flex;
  width: 100%;
  gap: 8px;
  align-items: center;
  margin-bottom: 15px;
}
.arrow {
  border: none;
  background-color: white;
  cursor: pointer;
}

.dark {
  background-color: #23272f;
}

.light {
  background-color: white;
}

.dark .arrow {
  background-color: #23272f;
}

.light .arrow {
  background-color: white;
}
